@page "/generatecode"
@inject IDiscountCodeService DiscountCodeService

<PageTitle>Generate Discount Codes</PageTitle>
<h3>Generate Discount Codes</h3>

<EditForm Model="codeRequest" OnSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label for="count">Count</label>
        <InputNumber @bind-Value="codeRequest.Count" class="form-control" ></InputNumber>
    </div>
    <div>
        <label>Length</label><br />
        <InputSelect @bind-Value="codeRequest.Length" class="form-select">
            <option value="7">7</option>
            <option value="8">8</option>
        </InputSelect>
    </div>
    <br />
    <label>@result</label>
    <br />
    <button type="submit" class="btn btn-primary">Generate</button>
</EditForm>

@code {

    GenerateRequestPage codeRequest = new GenerateRequestPage { Count = 0, Length = 8 };

    string result = "";

    async Task HandleSubmit()
    {
        result = await DiscountCodeService.CreateDiscountCode(new GenerateCodeRequest
        {
            Count = (ushort)codeRequest.Count,
            Length = codeRequest.Length
        });
    }
}
